/* Here I create some variables so that we can adjust our color palette easily from one location */
:root {
    --main-bg-color: #8aa899;         /*off white */
    --primary-color-light: #f2d349;   /* tan */
    --primary-color-dark: #5c6e58;    /* blue */
    --highlight-color: #cffce6;       /* light blue */
    --title-font: copperplate;
    --body-font: helvetica;
  }

/*
body{
    background-color: var(--primary-color-dark);
}
*/
