/* Here I create some variables so that we can adjust our color palette easily from one location */
:root {
    --main-bg-color: #ffffbf;
    --primary-color-light: #fdae61;
    --primary-color-dark: #2c7bb6;
    --highlight-color: #abd9e9;
    --title-font: copperplate;
    --body-font: helvetica;
  }
/*
body{
    background-color: var(--primary-color-dark);
}
*/
