/*
Colorbline safe color palatte from colorbrewer2.org.
#d7191c - red
#fdae61 - tan
#ffffbf - off white
#abd9e9 - light blue
#2c7bb6 - blue
*/

body {
  background-color: #abd9e9;    /* set background color to light blue */
  color: #2c7bb6;               /* set text color to blue */
  text-align: center;           /* center text */
}

h1 {                            /* h1 used in header */
  color: #ffffbf;               /* set text color to off white */
  padding: 5px;                 /* expands the vertical size of header */
  margin: 0;                    /* positions header to directly abut body */
}

#body-container {
  background-color: #ffffbf;    /* set background color to off white */
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  border: 2px solid #ffffbf;
  border-radius: 25px;
  overflow: hidden;
}

#header {
  background-color: #2c7bb6;
}

#profile-picture {
  float: left;
}

#welcome-text {
  padding-top: 25px;
  font-size: 25px;
}

#research-interests {
  text-align: left;
  font-size: 25px;
  position: relative;
  left: 120px;
}
