/*
Colorbline safe color palatte from colorbrewer2.org.
#d7191c - red
#fdae61 - tan
#ffffbf - off white
#abd9e9 - light blue
#2c7bb6 - blue
*/

body {
  background-color: #abd9e9;
  color: #2c7bb6;
  text-align: center;
}

h1 {
  color: #ffffbf;
  padding: 5px;
  margin: 0;
}

#body-container {
  background-color: #ffffbf;
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  border: 2px solid #ffffbf;
  border-radius: 25px;
  overflow: hidden;
}

#header {
  background-color: #2c7bb6;
}

#profile-picture {

}

#welcome-text {

}

#research-interests {

}
