
* {font-family: var(--body-font);}

/* body sets styling for page content */
body {
  /* set background color to light blue */
  background-color: #cffce6;        /* hard code to --highlight-color */
  /* set text color to blue */
  color: #5c6e58;                   /* hard code to --primary-color-dark */
  text-align: center;
}

#portfolio {display: table;
            width:100%;
            font-size: 0;
            margin: 0;
            padding: 0;
            text-align: center;
          }

#portText, #portImg {display: table-cell;
                    position: relative;
                    zoom: 1;
                    vertical-align: top;
                    font-size: 15px;
                    height: 300px;
                    margin: 0;
                    padding: 0;}
#portText {width: 50%;
          padding-left: 5%;
          padding-right: 5%;
          padding-top: 3%;
          background:var(--main-bg-color);}
#portImg {width: 50%;
          padding-top: 3%;
          background:var(--main-bg-color);}

figcaption {
  font-size: 12px;
  color: var(--primary-color-light);
  font-style: italic;
}

/* body-content is unique selector for most of the webpage content */
#body-container {
  /* set background color to off white */
  background-color: #8aa899;            /* hard code to --main-bg-color */
  /* insures body is narrower than most desktop computer screens*/
  max-width: 1000px;
  /* margin: auto; centers body */
  margin: auto;
  /* sets body height to 100% of viewport */
  height: auto;
  /* sets narrow border to off white */
  border: 2px solid #8aa899;            /* hard code to --main-bg-color */
}
/* dynamic copyright */
#copyright {
  position: relative;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  text-align: center;
  font-family: var(--body-font);
}
.title{
   margin-top: 10px;
   width: 100%;
   font-family: var(--title-font);
   font-size: 60px;
   color: var(--primary-color-dark);
   text-align: center;
 }

 .tag{
   font-size: 17px;
   text-align: left;
   color: var(--primary-color-light);
   font-style: italic;
   font-weight: bold;
 }

 img{
   width: 80%;
   height: auto;
 }
